Options -indexes
RewriteEngine On
RewriteBase /
RewriteCond %{SERVER_PORT} 80
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
RewriteRule ^anasayfa$ index.php [NC]
RewriteRule ^kurumsal/(.*)$ index.php?sayfa=kurumsal&seflink=$1 [NC]
RewriteRule ^blog$ index.php?sayfa=bloglar [NC]

RewriteRule ^uyelik$ index.php?sayfa=uyelik [NC]
RewriteRule ^hesabim$ index.php?sayfa=hesabim [NC]
RewriteRule ^cikis-yap$ index.php?sayfa=cikis [NC]
RewriteRule ^sifre-belirle/(.*)$ index.php?sayfa=sifre-belirle&seflink=$1 [NC]

RewriteRule ^universiteler/(.*)$ index.php?sayfa=universiteler&harf=$1 [NC]
RewriteRule ^universiteler$ index.php?sayfa=universiteler [NC]
RewriteRule ^universite-detay/(.*)$ index.php?sayfa=universite-detay&seflink=$1 [NC]

RewriteRule ^fakulte-detay/(.*)/(.*)$ index.php?sayfa=fakulte-detay&universite=$1&seflink=$2 [NC]

RewriteRule ^iletisim$ index.php?sayfa=iletisim [NC]
RewriteRule ^arama$ index.php?sayfa=arama [QSA]

<ifmodule mod_headers.c>
Header always edit Set-Cookie ^(.*)$ $1;SameSite=None;Secure
</ifmodule> 